@use '../../../../app/variables.scss' as vars;

.Process {
  &_card {
    position: relative;
    overflow: hidden;

    transition: box-shadow 0.15s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5rem;
      background: linear-gradient(35deg, vars.$spec-txt 0%, rgba(79, 87, 184, 1) 100%);
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 15px 2px vars.$border;

        &::after {
          opacity: 1;
        }
      }
    }

    &:active {
      box-shadow: 0 0 15px 2px vars.$border;

      &::after {
        opacity: 1;
      }
    }

    &-num {
      background: linear-gradient(90deg, vars.$spec-txt 0%, rgba(79, 87, 184, 1) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      opacity: 0.25;
    }
  }
}

@media screen and (max-width: 111.563rem) {
  .Process {
    &_content {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 6.25rem;
    }

    &_block {
      flex: 1 1 37.5rem;
      margin: 0;
      max-width: 37.5rem;
      display: flex;
      flex-direction: column;

      &-image {
        display: none;
      }

      &-content {
        width: 100%;
      }

      &-text {
        max-width: 40.625rem;
        padding-inline: 1.563rem;
      }
    }

    &_card {
      width: 100%;
      max-width: 100%;
      min-height: 12.5rem;
    }
  }
}

@media screen and (max-width: 88.25rem) {
  .Process {
    &_content {
      gap: 7.5rem;
    }

    &_block {
      margin: 0;
    }
  }
}
