@use '../../../../app/variables.scss' as vars;

.Features {
  &_card {
    position: relative;
    overflow: hidden;

    transition:
      translate 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5rem;
      background: linear-gradient(35deg, vars.$spec-txt 0%, rgba(79, 87, 184, 1) 100%);
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    @media (hover: hover) {
      &:hover {
        translate: 0 -15px;
        box-shadow: 0 0 15px 2px vars.$border;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
